<div class="container anchor introshow">
<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @user.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @user.content %>
</p>

<p>
  <strong>Content:</strong>
  <%#= @user.link %>
  <p><%= link_to 'My website', url_for(@user.link), :target => '_blank' %></p>
</p>

<p>
  <strong>Image url:</strong>
  <%#= image_tag(@user.image_url, class: "img-zoom img-responsive bigshowpic") %>
  <%= image_tag(@user.image_url, class: "img-zoom img-responsive bigshowpic") unless @user.image_url.blank? %>
</p>

<p><%= link_to 'Show', @user %></p>
<p><%= link_to 'Edit', edit_user_path(@user) %></p>
<p><%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %></p>


<%= link_to 'Projects', user_projects_path(@user) %> |
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</div>