<p id="notice"><%= notice %></p>

<div class="container-fluid anchor">
  <div class="new">
    <h1>The projects</h1>
  </div>
 
  <div class="row" id="productos">
    <% @projects.each do |project| %>
    <div class="col-md-4">
      <p><%= project.title %></p>
      <!--p><%#= project.content %></p-->
      <p><%= link_to(image_tag(project.image_url, class: "img-responsive"), [project.user, project]) %></p>
      <% if user_signed_in? %>
        <p><%= link_to 'Show', [project.user, project] %></p>
        <p><%= link_to 'Edit', edit_user_project_path(project.user, project) %></p>
        <p><%= link_to 'Destroy', [project.user, project], method: :delete, data: { confirm: 'Are you sure?' } %></p>
      <% end %> 
    </div><!-- /col -->
    <% end %> 
  </div>
</div>

<br>

<%= link_to 'New Project', new_user_project_path %>
<%= link_to 'Related User', user_path(@user) %>