<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @project.content %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @project.image_url %>
</p>

<!--p>
  <strong>User:</strong>
  <%#= @project.user %>
</p-->

<%= link_to 'Edit', edit_user_project_path(@project.user, @project) %> |
<%= link_to 'Back', user_projects_path(@project.user) %>
