<div class="container anchor introshow">
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @project.content %>
</p>

<p>
  <strong>Image url:</strong>
  <%= image_tag(@project.image_url, class: "img-zoom img-responsive bigshowpic") %>
</p>
  
<!--p>
  <strong>User:</strong>
  <%#= @project.user %>
</p-->

<%= link_to 'Edit', edit_user_project_path(@project.user, @project) %> |
<%= link_to 'Back to all this maker\'s projects', user_projects_path(@project.user) %> |
<%= link_to 'Back to the project\'s maker', user_path(@user) %>
</div>